body {
    background-color: rgb(232, 236, 232);
}

#arrow {
    width: 30px;
}

#updateform {
    border: 10%;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 0;
}

#form {
    width: 50%;
    height: 50%;
    margin: 25px auto;
}

#text {
    text-align: left;
}