<%- include("partials/header") %>
    <!--
    <h1>register</h1>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Register</button>
    </form>

    <h1>signin</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Login</button>
    </form> -->


    <!--<div class="container">
        <div class="row">
            <div style="width: 30%; margin: 25px auto;">
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label for="user">username</label>
                        <input type="text" name="username" class="form-control" id="user" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="Password1">Password</label>
                        <input type="password" name="password" class="form-control" id="Password1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">REGISTER</button>
                </form>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div style="width: 30%; margin: 25px auto;">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="user">username</label>
                        <input type="text" name="username" class="form-control" id="user" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="Password1">Password</label>
                        <input type="password" name="password" class="form-control" id="Password1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">LOG IN</button>
                </form>
            </div>
        </div>
    </div> -->
    <link href="/css/login.css" rel="stylesheet" type="text/css">


    <div id="image" class="row">
        <img class="logo" src="/UX/login-header.svg">
    </div>
    <div class="container">
        <div id="form" class="row">
            <div class="col-md-6">
                <div class="row">
                    <div id="login">
                        <h3>Login</h3>
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="user1">username</label>
                                <input type="text" name="username" required class="form-control" id="user1" placeholder="username">
                            </div>
                            <p id="u1"></p>
                            <div class="form-group">
                                <label for="Password1">Password</label>
                                <input type="password" name="password" required class="form-control" id="Password1" placeholder="Password">
                            </div>
                            <p id="p1"></p>
                            <button type="submit" class="btn btn-primary" onclick="my1()">LOG IN</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row" id="registration">
                    <div id="loginform">
                        <form action="/register" method="POST">
                            <p>If you don't have an account register to create account</p>
                            <%if(err){%>
                                <h6 id="err">
                                    <%= err.message %>
                                </h6>
                                <%}%>
                                    <div class="form-group">
                                        <label for="user">username</label>
                                        <input type="text" name="username" required class="form-control" id="user" placeholder="username">
                                    </div>
                                    <p id="u"></p>
                                    <div class="form-group">
                                        <label for="Password">Password</label>
                                        <input type="password" name="password" required class="form-control" id="Password" placeholder="Password">
                                    </div>
                                    <p id="p"></p>
                                    <button type="submit" class="btn btn-primary" onclick="my()">REGISTER</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script>
        var user = document.getElementById("user").value
        var password = document.getElementById("password").value

        function my() {
            if (user.trim() == "" || password.trim() == "") {
                document.getElementById("u").innerHTML = "*required field"
                document.getElementById("p").innerHTML = "*required field"
            } else {
                document.getElementById("u").innerHTML = ""
                document.getElementById("p").innerHTML = ""
            }
        }
    </script>
    <script>
        var user = document.getElementById("user1").value
        var password = document.getElementById("password1").value

        function my1() {
            if (user.trim() == "" || password.trim() == "") {
                document.getElementById("u1").innerHTML = "*required field"
                document.getElementById("p1").innerHTML = "*required field"
            } else {
                document.getElementById("u1").innerHTML = ""
                document.getElementById("p1").innerHTML = ""
            }
        }
    </script>
    <%- include("partials/footer") %>