<%- include("partials/header") %>
    <h1>Login registration</h1>
    <a href="/visited">All visited place</a>

    <h1>register</h1>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Register</button>
    </form>

    <h1>signup</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Login</button>
    </form>


    <%- include("partials/footer") %>